
  .page__content {
    width: 100%;
    padding-right: 5rem;
  }

  .ce__title {
    color: #73b99b;
    font-size: 30px;
    padding: 40px 10px 5px 17px;
  }

  .ce_title {
    color: #73b99b;
    padding: 20px 0px 20px 15px;
    font-size: 25px;
  }

  .txt_field{
      width: 350px;
      font-size: 15px;
  }

  .row{
      padding-left: 20px;
      padding-bottom: 10px;
  }

  .lbl_textfield{
      font-size: 15px;
  }

  
  